AI-Powered Customer Review Insights Pipeline.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/166KcjWGqm9r5t7P4Ytytnu6lKtnVEfUUM8kf__Xza48/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 670402815,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/166KcjWGqm9r5t7P4Ytytnu6lKtnVEfUUM8kf__Xza48/edit#gid=670402815"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        304,
        32
      ],
      "id": "4f7d17e2-0506-4923-a1bd-39fb98882632",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "C1xTVOliGRDNi04j",
          "name": "Google Sheets Trigger account 4"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-3-4b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-3-4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "You summarize customer reviews accurately and concisely.\n",
              "role": "model"
            },
            {
              "content": "=Summarize the customer review below in 1–2 sentences.\nFocus only on the main concern or compliment.\n\nRespond ONLY with valid JSON (no markdown, no explanation):\n\n{\n  \"summary\": \"...\"\n}\n\nReview:\n{{ $json.Feedback }}\n"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 100,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        208
      ],
      "id": "2b60ba46-7ee1-4d54-95b7-29d37474688a",
      "name": "Summarization",
      "credentials": {
        "googlePalmApi": {
          "id": "XX0tS2INXUPQWEls",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-3-1b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-3-1b-it"
        },
        "messages": {
          "values": [
            {
              "content": "You are a sentiment classification model.\nClassify customer reviews conservatively and accurately.",
              "role": "model"
            },
            {
              "content": "=Determine the sentiment of the following customer review.\n\nReview:\n{{ $json.Feedback }}\n\nReturn JSON only:\n{\n  \"sentiment\": \"positive | negative | neutral\",\n  \"confidence\": \"<0-1>\"\n}"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 100,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -80
      ],
      "id": "272ec812-42ac-48be-b79b-dccf32e505cc",
      "name": "Sentiment",
      "credentials": {
        "googlePalmApi": {
          "id": "XX0tS2INXUPQWEls",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-3-4b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-3-4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "You identify the emotional tone expressed in customer reviews.\nBe precise and conservative.",
              "role": "model"
            },
            {
              "content": "=Analyze the emotional tone of the following customer review.\n\nReview:\n{{ $json.Feedback }}\n\nRespond with JSON only:\n{\n  \"tone\": \"Angry | Frustrated | Appreciative | Confused | Neutral\",\n  \"confidence\": 0.0\n}"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 100,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -288
      ],
      "id": "6d272d02-b5fd-4b4e-a1d8-3451f1754a36",
      "name": "Tone",
      "credentials": {
        "googlePalmApi": {
          "id": "XX0tS2INXUPQWEls",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -16
      ],
      "id": "ac8c3f48-e811-4351-aa06-d3e7c0b3e14e",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dbfa99f-6d6c-47d3-9b7f-13142d0e822e",
              "name": "tone",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).tone }}",
              "type": "string"
            },
            {
              "id": "e41e1832-a253-47f4-a8a0-353adb92f871",
              "name": "tone_confidence",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).confidence }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -288
      ],
      "id": "d3ae4b78-36a8-4755-867f-09b4df94e740",
      "name": "tone set"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dbfa99f-6d6c-47d3-9b7f-13142d0e822e",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).sentiment }}",
              "type": "string"
            },
            {
              "id": "e41e1832-a253-47f4-a8a0-353adb92f871",
              "name": "sentiment_confidence",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).confidence }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -80
      ],
      "id": "c287be09-9b2e-4828-a8b8-4356840cc5e5",
      "name": "Sentimentset"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dbfa99f-6d6c-47d3-9b7f-13142d0e822e",
              "name": "summary",
              "value": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, '')).summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        208
      ],
      "id": "e094372f-4bb3-45ae-ac31-0bc980f152a7",
      "name": "Summary set"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73c71a59-4e23-49ad-ac0a-42dacf56444b",
              "leftValue": "={{$json.Sentiment}}",
              "rightValue": "negative",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1712,
        16
      ],
      "id": "cb8e26d1-1ef1-4f95-9680-0e7bd5a98c81",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "anshuman.pandey28122005@gmail.com",
        "toEmail": "a.pandeyj28@gmail.com",
        "subject": "Negative Customer Review Detected",
        "html": "=<h2 style=\"color:#d32f2f;\"> Negative Customer Review Detected</h2>\n\n<p>A customer has submitted a <strong>negative review</strong>. Details are below:</p>\n\n<hr />\n\n<p><strong>📝 Summary:</strong><br />\n{{ $json.Summary }}</p>\n\n<p><strong>📊 Sentiment:</strong><br />\n{{ $json.Sentiment }}</p>\n\n<p><strong>🎭 Tone:</strong><br />\n{{ $json.Tone }}</p>\n\n<p><strong>🕒 Timestamp:</strong><br />\n{{ $json.Timestamp }}</p>\n\n<p><strong>📄 Original Review:</strong><br />\n{{ $json[\"Raw Review\"] }}</p>\n\n<hr />\n\n<p style=\"font-size:12px;color:#777;\">\nThis alert was generated automatically by the Customer Review Monitoring System.\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1936,
        0
      ],
      "id": "6db62695-ba49-498b-9368-01c84dbda0cd",
      "name": "Send email",
      "webhookId": "e6797f37-effc-49cb-9232-9d4b538d89ba",
      "credentials": {
        "smtp": {
          "id": "MX9WO8VurmcaZWan",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d07fafa1-6891-4934-bb34-4cfaef42fa8f",
              "name": "Raw Review",
              "value": "={{ $json.Feedback }}",
              "type": "string"
            },
            {
              "id": "9f3589af-7aaf-4ab3-9d2c-bc0cb2035bc8",
              "name": "Summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "ba2980bc-45c5-4ded-bb9e-57910097dfde",
              "name": "Sentiment",
              "value": "={{ $json.sentiment }}",
              "type": "string"
            },
            {
              "id": "487b35b8-b0ed-4314-998f-136a69868b59",
              "name": "Tone",
              "value": "={{ $json.tone }}",
              "type": "string"
            },
            {
              "id": "d8004220-b19d-4046-a0d6-d722492f13b5",
              "name": "Timestamp",
              "value": "={{ $json.Timestamp || $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        16
      ],
      "id": "91276308-d5a4-4f63-bb06-b5f07f338610",
      "name": "Merge S"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "Summarization",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization": {
      "main": [
        [
          {
            "node": "Summary set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment": {
      "main": [
        [
          {
            "node": "Sentimentset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tone": {
      "main": [
        [
          {
            "node": "tone set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Sentimentset": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tone set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge S": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fc2954c-49b3-4265-b41b-9ce3400a179d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b6aca990721a7b0b4a7e4dccdc94bbad2a12ebc2fd6b0c215b4a5dd678afd36"
  },
  "id": "9WVLNS05XdgAzqvM",
  "tags": []
}